*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(35, 37, 40);
}

input{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container div{
    margin: 12px;

}